<template name="newPost">

    <div id="newPostTitle">
        <h1>Create new post</h1>
    </div>

    <form>
        <div class="input-symbol">
            <input type="text" name="title" placeholder="Write a title for this post.">
        </div>

        <div class="input-symbol">
            <input type="plain" name="text" placeholder="Write your post.">
        </div>

        <div class="input-symbol">
            <button type="submit" class="btn-primary">Publish</button>
        </div>
    </form>
</template>